# Olympic History

- Most medals per country
- Ratio of medals based on sport
- Top 3 Olympians in Summer & Winter

In [98]:
import pandas as pd
import numpy as np
import select as sql  
import seaborn as sns
import matplotlib.pyplot as plt

Most medals per country

In [99]:
clean_df = pd.read_csv('results/clean.csv')
clean_df.groupby(by='NOC')['Medal'].count().sort_values(ascending=False).head(3)

NOC
USA    5637
URS    2503
DEU    2165
Name: Medal, dtype: int64

Sort by Medals and type

In [100]:
x=clean_df[['Medal', 'NOC']].value_counts().reset_index(name='count')
print(x.head(10))

    Medal  NOC  count
0    Gold  USA   2638
1  Silver  USA   1641
2  Bronze  USA   1358
3    Gold  URS   1082
4  Bronze  DEU    746
5    Gold  DEU    745
6  Silver  GBR    739
7  Silver  URS    732
8  Bronze  URS    689
9    Gold  GBR    678

top countries by population %

In [101]:
clean_df.groupby('NOC')
clean_df.drop_duplicates(subset=['NOC'], inplace=True)              
clean_df.sort_values(by='World Population Percentage', ascending=False, inplace=True)
clean_df[['World Population Percentage', 'NOC']].head()

       World Population Percentage  NOC
37274                        17.88  CHN
35648                        17.77  IND
8843                          4.24  USA
34508                         3.45  IDN
18610                         2.96  PAK

In [35]:
clean_df.sort_values(['World Population Percentage'], inplace=True)
#sns.scatterplot(x=clean_df['NOC'], y=clean_df['World Population Percentage'])
#plt.ylim(10)

TypeError: Series.sort_values() takes 1 positional argument but 2 positional arguments (and 1 keyword-only argument) were given